# MoveIt uses this configuration for controller management

moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

moveit_simple_controller_manager:
  controller_names:
    - robotic_arm_controller

  robotic_arm_controller:
    type: FollowJointTrajectory
    joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5
      - joint6
    action_ns: follow_joint_trajectory  #follow_joint_trajectory是默认的执行轨迹跟踪时使用的命名空间，如果是自己编写的控制层，那么需要更改这里转到自己的控制器，这里我们改称arm_command    
    default: true