# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    hardware: arm_hw

    robotic_arm_controller:
      type: "mixcontroller/MixController"


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
      joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5

robotic_arm_controller:
  ros__parameters:
    joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5

    command_interfaces:
      - position
      - velocity
      - effort
    state_interfaces:
      - position
      - velocity
    allow_nonzero_velocity_at_trajectory_end: false